.container-p {
  width: 700px;
  display: flex;
  padding-top: 0vh;
  justify-content:center;
}

.container-details {
  width: 400px;
  display: flex;
  padding-top: 6vh;
  justify-content:center;
}

.container-button {
  background-color: black;
  border: 0px;
  border-radius: 10px;
  padding: 15px;
}

.main-p {
  display: flex;
  justify-content:center;
  flex: 1;
}

.container-image {
  flex: 1;
  display: flex;
  padding-top: 10vh;
  justify-content:center;
}

.image-emoji {
  height: 120px;
  width: 120px;
}

/* textos  */
.text-name {
  font-size: 21px;
  font-weight: bold;
  padding-top: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}

.text-content {
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.text-details {
  margin: 0px;
  font-size: 16px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.text-button {
  margin: 0px;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}


/* media query */
@media only screen and (max-width: 600px) {
  .text-content {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    transition: all 0.7s ease-out;
  }
  .container-p {
    width: 350px;
    display: flex;
    padding-top: 0vh;
    justify-content:center;
  }
  .text-details {
    margin: 0px;
    font-size: 14px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    transition: all 0.7s ease-out;
  }
  .container-details {
    width: 350px;
    display: flex;
    padding-top: 6vh;
    justify-content:center;
  }
}