.container-navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-email {
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
}

.text-select {
  cursor: pointer;
  padding-right: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}