.container-navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-email {
  font-weight: bold;
}

.text-select {
  padding-right: 15px;
}